body {
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
margin:0;
}

header {
background:#020617;
padding:20px;
}

.hero { padding:50px; }

button {
padding:12px 25px;
background:cyan;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover { background:white; }

.features, .dashboard {
display:flex;
justify-content:center;
gap:20px;
margin:30px;
}

.card, .box {
background:#1e293b;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px cyan;
width:200px;
margin:auto;
}
